p {
  color: var(--grey-5);
}
.img {
  /* border-radius: 50%; */
  margin: 0 auto;
  margin-bottom: 1rem;
}

.blog-sidebar {
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  row-gap: 1rem;
  margin-top: 3.4rem;

  @media (min-width: 576px) {
    grid-template-columns: repeat(auto-fit, 92%);
    column-gap: 3rem;
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: calc(100vw - 30px);

    margin-bottom: 3rem;
  }
}
.post:hover {
  h5 {
    color: var(--primary-5);
  }
}
.partner {
  display: flex;
  align-items: center;
  margin: 1rem 0 1.2rem -1rem;
  justify-content: center;
}

.partner-img {
  overflow: visible;
  width: 35px;
  height: auto;
}

.partner-name {
  margin-left: 1rem;

  color: var(--grey-7);
  font-weight: 500;
}

@media screen and (max-width: 1085px) {
  .partner-name {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .partner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1.2rem auto;
  }
}

.sidebar-card {
  margin-bottom: 1.875rem;
  padding: 1.5rem 0.9rem;
  border-radius: 5px;
  border-top: 6px solid var(--primary-5);
  background-color: white;
  box-shadow: 0 15px 25px rgba(30, 30, 30, 0.06);
}

.category {
  font-size: 1rem;
  color: var(--grey-5);
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 0 0.5rem 3rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
  position: relative;

  &::after {
    content: "»";
    font-size: 22px;
    color: var(--grey-5);
    position: absolute;
    opacity: 0;
    top: 1px;
    right: -10px;
    transition: 0.5s;
  }
}
.category:hover {
  /* background: var(--primary-5); */
  padding-right: 24px;
  padding-left: 3.3rem;

  &::after {
    opacity: 1;
    right: 10px;
  }
}

@media screen and (max-width: 1263px) {
  .category {
    padding: 0.5rem 0 0.5rem 2rem;
  }

  .category:hover {
    padding-left: 1.3rem;
  }
}

@media screen and (max-width: 1015px) {
  .category {
    padding: 0.5rem 0 0.5rem 2rem;
  }

  .category:hover {
    padding-left: 0.8rem;
  }
}

@media screen and (max-width: 991px) {
  .category {
    font-size: 1rem;
    color: var(--grey-5);
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 0 0.5rem 0;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    border-radius: var(--radius);
    cursor: pointer;
    position: relative;
    text-align: center;

    &::after {
      content: "";
    }
  }
  .category:hover,
  .category:active {
    padding-right: unset;
    padding-left: unset;
    color: var(--grey-8);

    &::after {
    }
  }
}

.sidebar-title {
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
}

h4 {
  color: var(--grey-7);
  text-transform: uppercase;
  font-weight: 700;
  background: none;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 0.6rem;
}
.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  transform: translateY(-50%);
  background: var(--primary-5);
  z-index: -1;
}
