body {
  background: $body-color;
  color: $text-color;
  overflow-x: hidden;
  // position: relative;
}

.section {
  padding: 100px 0;
  @include tablet {
    padding: 80px 0;
  }
  @include mobile {
    padding: 50px 0;
  }
}

.section-title {
  h6 {
    letter-spacing: 5px;
    color: $primary-color;
    text-transform: uppercase;
    span {
      display: inline-block;
    }
  }

  p {
    letter-spacing: 5px;
    color: $primary-color;
    text-transform: uppercase;
    span {
      display: inline-block;
    }
  }
  h1,
  h2 {
    span {
      display: inline-block;
    }
  }
}

.dividers {
  display: flex;
  align-items: center;
  width: 1170px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  .divider {
    border-right: none !important;
    flex-basis: 25%;
    height: 100vh;
    // opacity: .20;
    &:first-child {
      border-left: none !important;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  background: $white;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $primary-color;
}

// Headroomjs Styles
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.headroom--unpinned {
  top: -100px;
}
.headroom--pinned {
  top: 0;
}

// Page Title Styles
.page-title {
  padding: 220px 0 180px;
  background-image: url("/images/bg/cover.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  h1 {
    color: $white;
  }
}

// BreadCrumb
.breadcrumb {
  background: transparent;
  justify-content: center;
  margin-bottom: 0;
  li {
    text-transform: uppercase;
    font-size: 12px;
    a {
      font-size: 12px;
      color: $primary-color;
      text-decoration: none;
    }
  }
}

// Form Control
.form-control {
  margin-bottom: 20px;
  border-radius: 0;
  border-width: 0 0 1px 0;
  padding: 12px 0;
  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: $primary-color;
  }
}

hr {
  margin: 1rem 0;
  color: var(--primary-5);
}

hr {
  margin: 2.2em auto;
  position: relative;
  height: 12px;
  width: 12px;
  border: transparent;
  overflow: visible;
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%234CB0A8" /></svg>');
}
hr:before {
  position: absolute;
  height: 12px;
  width: 12px;
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%23EF6056" /></svg>');
  left: -35px;
}

hr:after {
  position: absolute;
  height: 12px;
  width: 12px;
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EFAF44" /></svg>');
  right: -35px;
}