// Fonts

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$primary-font: 'Montserrat','Open Sans';
// $primary-font: 'Roboto Condensed', sans-serif;
// $secondary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat';

// Colors
$primary-color: #4299E1;
$primary-light: #74b3e7;
$primary-light-opacity: #74b3e72f;
$black: rgb(23, 23, 23);
$white: rgb(252, 252, 252);
$gray: #aaaaaa;
$border-color: #4299E1;
$body-color: $white;
$text-color: #515151;
$text-light: #4c4c4c;


// Footer
$footer-bg : #1e2529;